@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  background-color: #1A1A1A;
  overflow-x: hidden;
}



ul {
  padding: 0px !important;
}

a {
  text-decoration: none !important;
}


#myVideo {
  position: fixed;
  top: 1px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;
  opacity: 10%;
  object-fit: cover;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
}

.introStyle {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;

}

.paragraph {
  font-family: 'Libre Franklin', sans-serif;

}

.logoSize {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #1A1A1A;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger>span::before {
  content: '';
  top: -8px;
}

.hamburger>span::after {
  content: '';
  top: 8px;
}

.menu-toggle.is-active .hamburger>span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  flex: 1 1 0;
  max-height: 100% !important;
  width: 200px !important;
  max-width: 200px !important;
  padding: 2rem 1rem;
  background-color: #1A1A1A;
  border-right: 6px solid #FB3C3C;
  box-shadow: 9px -1px 11px #000000;
}


.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  font-family: 'Allerta Stencil', sans-serif;
  display: block;
  padding: 1em;
  color: #FFF;
  text-decoration: none;
  transition: 0.2s linear;
  border-bottom: 1px solid #E6E6E6;
  border-right: none !important;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  background-color: #FB3C3C;
  border-bottom: none;
}


.content {
  flex: 1 1 0;
  padding: 2rem;
}

.content h1 {
  color: #3C3F58;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #707793;
}

.social_media {
  position: relative;
  bottom: 0;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  display: flex;
  margin-top: 1rem;
}

.social_media a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #E6E6E6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.wrapper .main_content {
  margin: 20px;
  margin-top: 200px;
  color: #E6E6E6;
  font-size: 64px;
  width: 70%;


}

/* glitch effect */
.glitch {

  position: relative;

  text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -0.05em 0 rgba(0, 255, 0, .75),
    0.025em 0.05em 0 rgba(0, 0, 255, .75);

  animation: glitch 1000ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.5em -0.5em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.2em 0.2em);
  opacity: 0.8;
}


@keyframes glitch {
  0% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, .75),
      -0.025em -0.025em 0 rgba(0, 255, 0, .75),
      -0.025em 0.05em 0 rgba(0, 0, 255, .75);
  }

  14% {
    text-shadow:
      0.05em 0 0 rgba(255, 0, 0, .75),
      -0.025em -0.025em 0 rgba(0, 255, 0, .75),
      -0.025em 0.05em 0 rgba(0, 0, 255, .75);
  }

  15% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255, 0, 0, .75),
      0.025em 0.025em 0 rgba(0, 255, 0, .75),
      -0.05em -0.05em 0 rgba(0, 0, 255, .75);
  }

  49% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255, 0, 0, .75),
      0.025em 0.025em 0 rgba(0, 255, 0, .75),
      -0.05em -0.05em 0 rgba(0, 0, 255, .75);
  }

  50% {
    text-shadow:
      0.025em 0.05em 0 rgba(255, 0, 0, .75),
      0.05em 0 0 rgba(0, 255, 0, .75),
      0 -0.05em 0 rgba(0, 0, 255, .75);
  }

  99% {
    text-shadow:
      0.025em 0.05em 0 rgba(255, 0, 0, .75),
      0.05em 0 0 rgba(0, 255, 0, .75),
      0 -0.05em 0 rgba(0, 0, 255, .75);
  }

  100% {
    text-shadow:
      -0.025em 0 0 rgba(255, 0, 0, .75),
      -0.025em -0.025em 0 rgba(0, 255, 0, .75),
      -0.025em -0.05em 0 rgba(0, 0, 255, .75);
  }
}

/* Fade in effect */
.fade-in-text {
  animation: fadeIn 5s;
}

.circle {
  height: 22px;
  width: 32px;
  border-radius: 5px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  /* so that it stays on top of all other elements */
}

.pageSelect {
  background-color: #FB3C3C;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* About Page */

.bio {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.portrait {
  width: 400px;
  margin-top: 20px;
  margin-left: 70px;
  border-radius: 20px;
}

/* My Work */
.positionImg {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 400px;
}

.grid {
  display: flex;

}

.textColour {
  color: white;
  font-family: 'El Messiri', sans-serif;
}

.img-wrapper {
  position: relative;
  overflow: hidden;

}

.imgPos {
  object-position: 25% 25%;
}

.imgSize {
  display: block;
  width: 100%;
  aspect-ratio: 1/ 1;
  object-fit: cover;
  object-position: center;
}

.img-wrapper>.content {
  position: absolute;
  inset: 0;
  font-size: 1.1rem;
  border-radius: 50%;
  width: 25%;
  height: 25%;
  margin: auto;
  background: rgba(251, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow:
    0 0 60px 30px #1A1A1A,
    0 0 100px 40px #1A1A1A,
    0 0 140px 40px #1A1A1A;

}

.img-wrapper>img,
.img-wrapper>.content {
  transition: 400ms ease-in-out;
}

.img-wrapper>.content.fade {
  opacity: 0
}

.img-wrapper:hover>.content.fade {
  opacity: 1
}

.img-wrapper:hover>img.blur {
  filter: blur(5px);
}

.img-wrapper:hover>img.zoom {
  transform: scale(1.1);
}

.tab {
  display: flex;
  margin: 20px 0 40px;

}

/* Style the buttons that are used to open the tab content */
.tab p {
  margin-right: 50px;
  cursor: pointer;
  transition: 0.3s;
  color: #E6E6E6;
  font-size: 18px;
  position: relative;
}

/* Change background color of buttons on hover */

.tablinks::after {
  content: '';
  width: 0;
  height: 3px;
  background: #FB3C3C;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;

}

.tab p.active {
  display: block;
  border-bottom: 5px solid #FB3C3C;

}

/* Style the tab content */
.tabcontent h3 {
  border-top: none;
  font-size: 16px;
  color: #FB3C3C;

}

.tabcontent {
  display: none;
  border-top: none;
  font-size: 14px;
  animation: 3s linear
}

/*Contact Me */


form {
  background: #FB3C3C;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 745px;
  border-radius: 10px;
}

form input,
form textarea {
  border: 0px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
}

form button {
  padding: 15px;
  background: #1A1A1A;
  color: #fff;
  font-size: 18px;
  border: 0px;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 10px;
}

.imgFit {
  margin-bottom: 0px;
}

.map {
  margin-top: -200px;
  width: 200%;
  height: 935px;
  object-fit: cover;
  border-left: 2px solid white;
  margin-bottom: -50px !important;
}

@media (max-width: 1200px) {
  .portrait {
    margin-left: 0px;
  }



  .map {
    margin-top: 10px;
    border-left: none;
    max-width: 90%;
    height: 335px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .content {
    padding-top: 8rem;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 200px;
    transition: 0.2s linear;
    z-index: 1;
  }

  .sidebar.is-active {
    left: 0;
  }

  #myVideo {
    display: none;
  }

  .info {
    font-size: 40px !important;
  }

  .positionImg {
    width: 350px;
    margin-right: 100px;
  }
}